.custom-table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;

  th, td {
    border: 1px solid #dee2e6;
    padding: 0.5rem;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  tr {
    height: 48px; // Altura fija para todas las filas
  }

  .empty-row td {
    background-color: #fff !important;
    border: none;
  }

  th:nth-child(1), td:nth-child(1) { width: 300px; }  // ID
  th:nth-child(2), td:nth-child(2) { width: 100px; }  // Título
  th:nth-child(3), td:nth-child(3) { width: 100px; }  // Descripción
  th:nth-child(4), td:nth-child(4) { width: 100px; }   // Tipo
  th:nth-child(5), td:nth-child(5) { width: 70px; }  // Creado

}